 {% extends "base.html" %}

 {% block content %}

      <div class="col-8">
    {% for vacancy in vacancies %}
    <h3><a href={{vacancy.url}}>{{vacancy.title}} </a></h3>
    <p class="text-left">{{vacancy.firm}}</p>
    <p class="text-left">{{vacancy.town}} {% if vacancy.metro %} {{vacancy.metro}} {% endif %} <mark>{{vacancy.source}}</mark></p>
    <p class="text-left">{{vacancy.description|truncate(400) if vacancy.description }}...</p>


          <p class="text-right">{{vacancy.published_date}}</p>
    {% endfor %}
      </div>
 {% endblock %}